body {
    font-family: Arial, sans-serif;
    background-color: rgb(100, 181, 251);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    margin: 20px;
}

#classesTitle {
    align-self: flex-start;
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}

.class-container {
    display: table;
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 10px;
}

.class-row {
    display: table-row;
}

.class-card {
    display: table-cell;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    border: solid 2px black;
}

.class-card img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.class-card a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    line-height: 150px;
}

.class-card a:hover {
    color: rgb(100, 181, 251);
}

.nav-buttons a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.nav-buttons a:hover {
    color: rgb(100, 181, 251);
}

.nav-buttons {
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: solid 1px #0a0909;
    padding: 10px 20px;
    border-radius: 10px;
}
