body {
    font-family: "Comic Sans", sans-serif;
  }
    table, th, td 
    {
        border: solid 1px #0a0909;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }
    th { 
        font-weight:bold;
    }